* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

#container {
  border: 2px solid #c4c5c6;
  width: 60vw;
  margin-top: 8vh;
}

#headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: lighter;
  margin-left: 2%;
}

form#form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 0;
  border-top: 1px solid #d3d3d4;
  border-bottom: 1px solid #d3d3d4;
}

#new-task {
  margin-left: 2%;
  background: none;
  border: none;
  outline: none;
  font-style: italic;
  font-size: larger;
}

#todo-container {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
  margin: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  border-bottom: 1px solid #d3d3d4;
}

.content {
  display: flex;
  align-items: center;
  gap: 5px;
}

.desc {
  background: none;
  border: none;
  outline: none;
  font-size: larger;
}

.material-icons {
  font-size: larger;
  margin-right: 2%;
  color: #808080;
  cursor: pointer;
}

input[type=checkbox] {
  cursor: pointer;
}

#clear {
  cursor: pointer;
  width: 100%;
  padding: 2.5%;
  text-align: center;
  background-color: #efefef;
  border: none;
  color: #616161;
  font-size: larger;
  margin: 0;
}

#clear:hover {
  color: #000;
  font-size: medium;
  text-transform: uppercase;
}
